version: "3.9"
services:
  auth-service:
    build: ./services/auth-service
    env_file: ./shared/.envs/auth.env
    ports:
      - "8001:8000"
    depends_on:
      - db
    networks:
      - educloud

  quiz-service:
    build: ./services/quiz-service
    env_file: ./shared/.envs/quiz.env
    ports:
      - "8002:8000"
    depends_on:
      - db
    networks:
      - educloud

  session-service:
    build: ./services/session-service
    env_file: ./shared/.envs/session.env
    ports:
      - "8003:8000"
    depends_on:
      - redis
    networks:
      - educloud

  leaderboard-service:
    build: ./services/leaderboard-service
    env_file: ./shared/.envs/leaderboard.env
    ports:
      - "8004:8000"
    networks:
      - educloud

  ai-question-service:
    build: ./services/ai-question-service
    env_file: ./shared/.envs/ai.env
    ports:
      - "8005:8000"
    networks:
      - educloud

  analytics-service:
    build: ./services/analytics-service
    env_file: ./shared/.envs/analytics.env
    ports:
      - "8006:8000"
    networks:
      - educloud

  db:
    image: postgres:16
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: educloud
    ports:
      - "5432:5432"
    networks:
      - educloud

  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - educloud

networks:
  educloud:
    driver: bridge